body,p,span{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
img{
    max-width: 100%;
}
.graybg{
    background-color: #f9fafb;
}
/*main-header*/



.main-header .container-fluid,
.slider-section .container-fluid{
    max-width: 1480px;
}
 /*header-menu*/
 .main-header{
    background-color: #fff;
 }
.header-menu ul{

}
.header-menu.ul li{

}
ul.header-menu  li a{
   text-decoration: none; 
   padding: 10px 20px;
   display:inline-block;
   color: #111;
   font-size: 16px;
    font-weight: 500;
}
.header-menu ul li a:hover {}

/*drop-down*/
ul.header-menu li{
position: relative;
}
ul.header-menu li ul{
position: absolute;
left: 0;
top: 140%;
width: 250px;
list-style: none;
background: #fafafa;
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
opacity: 0;
visibility: hidden;
transition: all .4s ease-in-out;
}
ul .header-menu li ul li{
display: block;
}
ul.header-menu li:hover ul{
opacity: 1;
visibility: visible;
top: 120%;
}
ul.header-menu li ul li:hover a{
    color: #e73c3e;
    letter-spacing: 1px;
    transition: .5s;
    font-size: 16px;
    font-weight: 500;
    
}




/*header-info*/
.header-info{

}
.search-box{
    width: 60px;
    font-size: 22px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}
.call-box{
    width: 200px;
    
}

.call-icon{
    font-size: 30px;
    margin-right: 12px;
    color: #e73c3e;
    

}
.small-color{
    color: #606060;
    font-size: 18px;
    font-weight: 400;
}


/*default-btn*/

.default-btn a{
    text-decoration: none;
}
.default-btn{
    padding: 14px 40px;
    text-align: center;
    display: inline-block;
    background-color: #e73c3e !important;
    
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    border-color: #e73c3e;
    position: relative;
    z-index: 2;
}
.default-btn:hover{
    border-color: #111;
}
.default-btn::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    
    background-color: #111;
    border-color: #111;
    z-index: -1;
    transition: all .5s;
}
.default-btn:hover::after{
    width: 100%;
    border-radius: 6px;
    
}

/*banner-section*/

.slider-section{
    background: url(img/main-banner2.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.slider-content-new{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    
}
.slider-content{
    max-width: 720px;
}
.slider-content h6{
    color: #e73a3e;
    font-weight: 400;
    font-size: 18px;
}
.slider-content h1 {
    font-size: 67px;
    margin-top: 25px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 500;
}
.slider-content p{
    font-weight: 400;
    color: #606060;
    font-size: 20px;
}
.social-menu-sec{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px 0;

}
.social-menu-sec ul{
list-style: none;
margin-left: 0;
}
.social-menu-sec ul li{

}
.social-menu-sec ul li a{
display: inline-block;
text-decoration: none;
padding: 0 10px;
color: #111;
font-size: 18px;
}
.social-menu-sec ul li span{
display: inline-block;
margin-right: 40px;
font-weight: 400;
color: #212529;
position: relative;
}
.social-menu-sec ul li span::after{
    content: "";
    position: absolute;
    height: 1px;
    background: #111;
    width: 40px;
    top: 11px;
    right: -44px;
    padding: 0 5px;
}
/*logo-sec*/
.logo-section{
    
    border-bottom: 1px solid #e5e5e5;
    
}

/*about*/
.about{
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-img{
    position: relative;
}

.img-text{
position: absolute;
background: url(img/shape.png);
bottom: 0;
right: 60px;
background-size: contain;
height: 200px;
width: 200px;
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
}
.img-inner{
    text-align: center;
    margin-top: 50px;
}
.img-inner h2{
    font-size: 70px;
    color: #e73c3e;
    margin-bottom: 5px;
    line-height: 1;
    font-weight: 500;
}
.img-inner p{
    color: #111;
    font-weight: 500;
}


.finix-text span{
    color: #e73a3e;
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
}
.finix-text h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 16px;
    color: #111;
    line-height: 1.3;
    
}
.finix-text p{
    margin-bottom: 15px;
    line-height: 1.8;
    color: #606060;
    font-weight: 400;
    
    font-size: 16px;
}
.finix-text strong{
    font-size: 18px;
    color: #606060;
    font-weight: 400;
}
.about-text .finix-text ul{
    padding-left: 0;
    
}

.about-text .finix-text ul li span{
    font-size: 15px;
    margin-right: 20px;
    display: inline-block;
}
.finix-text ul li{
    color: #606060;
    margin-bottom: 10px;
    font-weight: 400;
}
.finix-text .default-btn{
    text-decoration: none;
    color: #fff;
}



/*why-choose-us*/

 
.feauter-item{
    text-align: center;
    background-color: #fff;
    padding: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
    margin-bottom: 30px;
}
.feauter-item:hover{
    transform: translateY(-15px);
}
.feauter-item::before{
    content: "";
    position: absolute;
    top: -130px;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    
    height: 65%;
    background: #fdebeb;
    border-radius: 50%;
}
.feauter-item .ft-icon{
    
    position: relative;
    z-index: 1;
    

}
.feauter-item .ft-icon i{
    color: #e73a3e;

    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background: #fff;
    line-height: 90px;
    text-align: center;
    transition: .5s;
    
}
.feauter-item:hover .ft-icon i{
    color:#fff ;
    background: #e73a3e;
}
.mtb {
   margin-top: -30px;
}
.finix-text{
    position: relative;
}
.paly-animation-btn{
    width: 90px;
	height: 90px;
	display: inline-block;
	background: #fff;
	font-size: 60px;
	text-align: center;
	line-height: 90px;
	color: #e73a3e;
	border-radius: 50%;
	position: absolute;
	right: 41%;
	bottom: 51px;
}
.paly-animation-btn::before{
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e73a3e;
    border-radius: 50%;
    animation:palybtn 1.6s ease-out infinite;
}
@keyframes palybtn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}





[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {

font-size: 60px;
text-align: center;
 

}
.feauter-item h3{

}
.feauter-item p{

}





/* apply now section */

.text-apply h2{
  font-weight: 500;
  font-size: 36px;
}
.apply-now-left h3{
    line-height: 1.4;
    font-size: 36px;
    margin-bottom: 0;
    font-weight: 400;
}

.apply-now-left{


}

.step-line{

}
.step-line ul{
    list-style: none;
    position: relative;
    padding-left: 60px;
}
.step-line ul::before{
  content: "";
  position: absolute;
  left:0 ;
  top: 9px;
   width: 1px;
   
   background: #e73c3e;
   height: calc(100% - 100px);

}
.step-line ul li{
  margin-bottom: 28px;
  position: relative;
  margin-top: 35px;
}

.step-line ul li::before{
  content: attr(data-counter);
  position: absolute;
  left: -80px;
  top: 0px;
  height: 40px;
  width: 40px;
  background: #f9fafb;
  border: 1px solid #e73a3e;
  border-radius: 50%;
  line-height: 40px;
   text-align: center;
  
}

.step-line ul li  strong{
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
}
.step-line ul li p{
    color: #606060;
}

/* calulate-area */
.calculate-rate{
    background-color: #fdebeb;
    padding: 46px;
}

.calculate-rate .finix-text h6{
    color: #606060;
}


.calculate-form .form-group {
    margin-bottom: 20px;
}
.calculate-form .form-group input {
    border: none;
    border-radius: 0;
    padding: 14px 15px;
}
.calculate-form .form-group select{
    border: none;
    border-radius: 0;
    height: 53px;
}
.calculate-form .form-group label {
    display: block;
    margin-bottom: 10px;
}



/* call to action */
.call-to-action-bg{
    background-color: #e73a3e;
    padding: 60px;
        padding-bottom: 60px;
    color: #fff;
    padding-bottom: 40px;
    border-radius: 6px;
}
.call-to-action-bg h2 {
    font-size: 38px;
    font-weight: 400;
    border-right: 1px solid #ddd;
}

.call-to-action-phone span {
   display: block;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;

}
.call-to-action-phone span i{
    position: relative;
    left: 17px;
    top: 13px;
    font-size: 27px;
}
.call-to-action-phone a {
   display: inline-block;
   text-decoration: none;
   color: #fff;
    position: relative;
    right: -13px;
    top: 10px;
    font-size: 30px;

}



/* our-company-value */
.our-company-values{

}
.values-item{

}
.values-item .value-icon{
   font-size: 20px;
   color: #e73c3e;
   margin-right:30px ;

}
.values-item .value-text h3{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
}
.values-item .value-text p{
    line-height: 1.8;
    color: #606060;
    font-weight: 400;
}




/* services-section */

.services-section{
    background-color: #f9fafb;
}

/* service-tab-item */

.services-tab-item {
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 40px !important;
}
.services-tab-item li{
    flex: 1 1 auto;
}
.services-tab-item li a.active span i {
    color: red;
}
.services-tab-item li a span i {
    background: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    line-height: 80px;
    font-size: 30px;
    color: #666;
    
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
}
.services-tab-item li a strong{
    color: #222;
    font-weight: 600;
    font-size: 20px;
    padding-top: 14px;
}

.serives-tab-content-text{}
.serives-tab-content-text ul{
    list-style: none;
    padding-left: 0;
}

.serives-tab-content-text ul li::before {

    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    margin-right: 12px;

}

/* team-sectin */
.grybg{
    background-color: #fafbfc;
}
.team-member{

}
.member-image{
    position: relative;
}
.member-image img{
    width: 100%;
    height: auto;
}
.member-social-profile{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.member-social-profile ul{
    text-align: center;
    padding-left: 0;
}
.member-social-profile ul li{
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease-in-out;
    transform: translateY(45px);
    
}


.member-image:hover .member-social-profile ul li{
     visibility: visible;
     opacity: 1;
     transform: translateY(0);
}

.member-image .member-social-profile ul li:nth-child(1){
    transition-delay: .2s;
}
.member-image .member-social-profile ul li:nth-child(2){
    transition-delay: .3s;
}
.member-image .member-social-profile ul li:nth-child(3){
    transition-delay: .4s;
}
.member-image .member-social-profile ul li:nth-child(4){
    transition-delay: .5s;
}
.member-social-profile ul li a{
    font-size: 17px;
    height: 36px;
    width: 36px;
    display: block;
    background: #fff;
	border-radius: 50%;
    line-height: 40px;
    color: #444;
    transition: .4s;
}
.member-social-profile ul li a:hover{
    color: #fff;
    background-color: red;
}
.member-content h4{
color: #e73c3e;
margin-top: 13px;
}
.member-content p {
    color: #666;
}

/* blog-section */
blog-item{}
.blog-thubnail{}
.blog-thubnail img{
    max-width: 100%;
}

.blog-content{padding: 15px 0;}
.blog-content p{color: #e73c3e;font-size: 18px;}
.blog-content h3{margin-bottom: 12px;}
.blog-content h3 a{text-decoration: none;color: #111;font-size: 25px;}
.blog-content a{color: #111;font-size: 18px;text-decoration: none;transition: .5s;}

.blog-item:hover .blog-content a{
    letter-spacing: 1.5px;
    color: #e73c3e;
}
.blog-item:hover .blog-content h3 a{
    letter-spacing: 0;
    color: #111;
}   
 

/*  Footer CSS  */
.footer{
    background-color: #111111;
    color: #fff;
}
.footer-widget h3 {
    font-size: 22px;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer-widget ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.footer-widget ul li {
    margin: 10px 0;
}
.footer-widget ul li a {
    text-decoration: none;
    transition: .4s;
}
.footer-widget ul li a:hover{
    letter-spacing: 1.5;
    color: red;
}
.footer-top{
    border-bottom: 1px solid #444;
}
.footer a{
    color: #fff;
}

/*  Footer Social  */
.widget-social{}
.widget-social ul{
    display: flex;
}
.widget-social ul li{
    padding: 10px 0;
    margin: 0 !important;
}
.widget-social ul li span {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}
.widget-social ul li a {
    font-size: 20px;
    padding: 10px 10px;
}


.footer-copyright p{
    margin-bottom: 0;
}

.footer-contact{}
.footer-contact-item {
    margin-bottom: 20px;
}
.footer-contact-item span {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}
.footer-contact-item span i{}
.footer-copyright a {
    text-decoration: none;
}
.footer-copyright:hover a{
    color: #e73a3e;
}
.footer-copyright a{
    font-size: 20px;
}